NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bW92ZWQtY3JhbmUtMjIuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_cSgZSSRpRAwe963ApyN1x0pQaQuLA5zEZBbpzRyeYi
 

CLERK_AUTHORIZED_PARTIES=http://localhost:3000
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
